:root {
  --coupon-title-font-size: 25px;
  --icon-font-size: 22px;
  --font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
  font-family: var(--font-family);
}

.ws--form-control:focus {
  background-color: #fff;
  border-color: currentColor;
  outline: 0;
  box-shadow: none;
}

/* Css for Coupon Subscribe section start  ================*/

.ws--shoppage-section {
  width: 580px;
  margin: 0 auto;
  padding: 50px 0;
}

.ws--coupon-subscribe {
  text-align: center;
  margin-bottom: 50px;
}
.ws--coupon-subscribe-text {
  border-radius: 9px;
}
.ws--coupon-subscribe h4 {
  font-weight: 400;
  font-size: var(--coupon-title-font-size);
  background: #ffffff;
  border: 3px solid #cbcbcb;
  border-radius: 18px;
  color: #6f69b7;
  padding: 10px 10px;
}
.ws--coupon-subscribe h4 i {
  margin-left: 20px;
}

.ws--coupon-subscribe i {
  font-size: var(--icon-font-size);
  color: #6f69b7;
}

.ws--coupon-subscribe-form {
  background-color: #ffffff;
  border: 3px solid #cbcbcb;
  border-radius: 18px;
  margin: 0 auto;
  text-align: center;
  padding: 10px 35px;
}
.ws--coupon-subscribe-form h4 {
  padding: 0;
  margin: 0;
  border: none;
}
.ws--coupon-subscribe-form h6 {
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #6f69b7;
  margin-left: 50px;
}
.ws--subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px solid #cbcbcb;
  margin-top: 17px;
  padding: 20px 60px 0;
}
.ws--subscribe-form input {
  margin: 0 8px;
}

.ws--subscribe-form .ws--form-control {
  background-color: #fff;
  border: 3px solid #6f69b7;
  border-radius: 27px;
  padding: 6px;
  width: 100%;
}
.ws--coupon-subscribe-form p {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #6f69b7;
  padding: 10px 20px;
}

.ws--coupon-subscribe-form h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #6f69b7;
  padding: 15px 38px 0;
  border-top: 3px solid #cbcbcb;
  margin-top: 10px;
}
